.DS_Store
.ipynb_checkpoints/
*.snappy*.parquet*
platform.conf
download*.wget*
neo4j/data/
neo4j/logs/
neo4j/import/
neo4j/plugins/
# .env commiting this on purpose as its a required nextjs public environment variable
.vscode


