.DS_Store
.ipynb_checkpoints/
datasets/opentarget/diseases/*.snappy*.parquet*
datasets/opentarget/fda/*.snappy*.parquet*
datasets/opentarget/mechanismOfAction/*.snappy*.parquet*
datasets/opentarget/molecule/*.snappy*.parquet*
datasets/opentarget/mousePhenotypes/*.snappy*.parquet*
datasets/opentarget/targets/*.snappy*.parquet*
datasets/opentarget/interactions/*.snappy*.parquet*
datasets/opentarget/baseExpressions/*.snappy*.parquet*
datasets/platform.conf
download*.wget*
neo4j/data/
neo4j/logs/
neo4j/import/
neo4j/plugins/
.env
.vscode


